*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-size: 1rem;
    overflow-y: hidden;
}

.nav-container{
    border: 1px solid gray;
    border-radius: 10px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-evenly;
    margin: 1rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.block__img > img{
    width: 44rem;
    position: absolute;
}
.block__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.input-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

h1{
    margin-top: 3rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}

input{
    padding: 1rem;
    border-radius: 16px;
    width: 17rem;
    margin: .4rem .6rem;
}

.generate__btn{
    margin-top: 2rem;
    width: 20rem;
    justify-content: center;
    margin-left: 2rem;
    padding: 1rem;
    align-self: self-start;
    border-radius: 30px;
}